.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}



.thing{
  flex-direction: row;
  display: flex;
  align-items: center;
}

p {
  text-align: center;
  font-size: 50px;
}

$blue: #4db3f2;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $blue;
$box-padding: 1rem;


.control {
  margin-top: 10px;
  
}
.columns {
  p {
    text-align: center;
  }
  img {
    text-align: center;
  }
  .block {
    text-align: center;
    margin-top: 10px;
  }
}

.input-is-medium {
  padding: 20px;
  margin: 10px;
}

@import '~bulma/bulma.sass';

