

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

.thing {
  flex-direction: row;
  display: flex;
  align-items: center;
}

p {
  text-align: center;
  font-size: 50px;
}

$blue: #4db3f2;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: #FFE74C;
$box-padding: 1rem;

.control {
  margin-top: 10px;
}
.columns {
  p {
    text-align: center;
  }
  .block {
    margin-top: 10px;
  }
}

.input-is-medium {
  padding: 20px;
  margin: 10px;
}

.user-card {
  text-align: center;
}

.comment-border {
  border: 1px solid hsl(0, 0%, 93%);
}

.hover-border {
  border: 1px solid hsl(0, 0%, 100%);
  background-color: rgb(255, 255, 255);
}

.hover-border:hover {
  border: 1px solid hsl(0, 0%, 93%);
  background-color: rgb(254, 254, 254);
}

.hide {
  display:none;
}

.button {
  margin-top: 10px;
}


.user-card {
  display:flex;
  justify-content:center;
  flex-direction:column;
  
}

.profile-image {
  margin: 20px;
  
}

@import "~bulma/bulma.sass";
