@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
  font-size: 20px;
}

.content {
  font-size: 20px;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

.thing {
  flex-direction: row;
  display: flex;
  align-items: center;
}

$blue: #4db3f2;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: #FFE74C;

$box-padding: 1rem;

button{
  background-color: #FFE74C;
}

.control {
  margin-top: 10px;
}
.columns {
  p {
    text-align: center;
  }
  .block {
    margin-top: 10px;
  }
}

.input-is-medium {
  padding: 20px;
  margin: 10px;
}

.user-card {
  display:flex;
  text-align: center;
  justify-content: center;
}

.comment-border {
  border: 1px solid hsl(0, 0%, 93%);
}

.hover-border {
  border: 1px solid hsl(0, 0%, 100%);
  background-color: rgb(255, 255, 255);
}

.hover-border:hover {
  border: 1px solid hsl(0, 0%, 93%);
  background-color: rgb(254, 254, 254);
}

.hide {
  display:none;
}

.button {
  margin-top: 10px;
}

.user-card {
  display:flex;
  justify-content:center;
  flex-direction:column;
  padding: 20px;
  
}

.image-container {
  padding: 10px;
  margin-bottom: 0px;

}

.profile-image {
  margin-top: 60px;   

}

.box {
  box-shadow: none;
}

.intro {
  font-size: 22px;
  padding: 10px;
  line-height: 200%;
  color:gray;
}

.username {
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 10px;
  font-weight: bold;
}

.summary {
  font-size: 36px;
  margin-left: 18px;
}

.button.is-outlined {
  background-color:$blue;
  margin-left: 10px;
  font-size: 30px;
  padding: 40px;
  border-radius: 8px;
}

.section.is-mobile {
  background-image: url('https://i.pinimg.com/originals/e9/82/a4/e982a4f81d2386d3716c08e268b07572.gif');
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  }

  .peek-title {
    font-family: 'Amatic SC', cursive;
    p { 
      font-size: 100px;
    }
  }

  .navbar-item {
    margin-top: 30px;
    button {
      margin-bottom: 10px;
    } 
    input {
      margin-top: 10px;
    }
  }


@import "~bulma/bulma.sass";
